Real-time-Weather-based-Smart-Sprinkler-System.json
[{"id":"f9b83078.d48d4","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"9a81cebd.b923b","type":"http request","z":"f9b83078.d48d4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q=london&appid=832990bcf18348813f9ed9d9a34aefec","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":160,"wires":[["b563979b.ed7b48","73992237.2936ec","60b9478a.fe2518","afd05015.1c401"]]},{"id":"b563979b.ed7b48","type":"debug","z":"f9b83078.d48d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":120,"wires":[]},{"id":"73992237.2936ec","type":"debug","z":"f9b83078.d48d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.temp","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":160,"wires":[]},{"id":"e312468d.f29498","type":"ui_text","z":"f9b83078.d48d4","group":"402676a6.2b83c8","order":10,"width":0,"height":0,"name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":200,"wires":[]},{"id":"60b9478a.fe2518","type":"change","z":"f9b83078.d48d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":200,"wires":[["e312468d.f29498"]]},{"id":"afd05015.1c401","type":"ui_gauge","z":"f9b83078.d48d4","name":"","group":"402676a6.2b83c8","order":12,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURE","label":"units","format":"{{msg.payload.main.temp}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":80,"wires":[]},{"id":"e00d3740.0f1858","type":"http request","z":"f9b83078.d48d4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q=london&appid=832990bcf18348813f9ed9d9a34aefec","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":340,"wires":[["2e0b9ba0.9b8994","919e0abf.9fe418","7b4e778a.3c2408","a46042ed.cfd65"]]},{"id":"2e0b9ba0.9b8994","type":"debug","z":"f9b83078.d48d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":280,"wires":[]},{"id":"919e0abf.9fe418","type":"debug","z":"f9b83078.d48d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":320,"wires":[]},{"id":"7b4e778a.3c2408","type":"ui_gauge","z":"f9b83078.d48d4","name":"","group":"402676a6.2b83c8","order":12,"width":0,"height":0,"gtype":"gage","title":"HUMIDITY","label":"units","format":"{{msg.payload.main.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":240,"wires":[]},{"id":"a46042ed.cfd65","type":"change","z":"f9b83078.d48d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":360,"wires":[["adf1ff38.d8957"]]},{"id":"adf1ff38.d8957","type":"ui_text","z":"f9b83078.d48d4","group":"402676a6.2b83c8","order":11,"width":0,"height":0,"name":"","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":360,"wires":[]},{"id":"369dc49e.8e387c","type":"debug","z":"f9b83078.d48d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":420,"wires":[]},{"id":"415de93c.15a628","type":"ui_gauge","z":"f9b83078.d48d4","name":"","group":"402676a6.2b83c8","order":6,"width":0,"height":0,"gtype":"gage","title":"TEMEPERATURE","label":"units","format":"{{msg.payload.TEMPERATURE}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":460,"wires":[]},{"id":"83ccd7e8.95b698","type":"ui_gauge","z":"f9b83078.d48d4","name":"","group":"402676a6.2b83c8","order":7,"width":0,"height":0,"gtype":"gage","title":"HUMIDITY","label":"units","format":"{{msg.payload.HUMIDITY}}","min":"50","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":500,"wires":[]},{"id":"db68a834.188668","type":"ui_gauge","z":"f9b83078.d48d4","name":"","group":"402676a6.2b83c8","order":8,"width":0,"height":0,"gtype":"gage","title":"MOISTURE","label":"units","format":"{{msg.payload.MOISTURE}}","min":"80","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":540,"wires":[]},{"id":"fc3f5f49.39da8","type":"cloudant out","z":"f9b83078.d48d4","name":"","cloudant":"","database":"sprinkler","service":"node-red-yillu-2020--cloudant-1601472451108-69336","payonly":true,"operation":"insert","x":660,"y":600,"wires":[]},{"id":"dcb54ff7.e8a0e","type":"ibmiot in","z":"f9b83078.d48d4","authentication":"apiKey","apiKey":"7d305ed8.29e7e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"SPRINKLERNODEMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":480,"wires":[["369dc49e.8e387c","83ccd7e8.95b698","db68a834.188668","415de93c.15a628","fc3f5f49.39da8"]]},{"id":"3430de0c.0e4b92","type":"comment","z":"f9b83078.d48d4","name":"DATA FROM OPEN WHETHER","info":"","x":330,"y":80,"wires":[]},{"id":"f653c9e3.f2d488","type":"comment","z":"f9b83078.d48d4","name":"SENSOR MONITORING","info":"","x":350,"y":620,"wires":[]},{"id":"54f17611.30d788","type":"inject","z":"f9b83078.d48d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":260,"wires":[["9a81cebd.b923b","e00d3740.0f1858"]]},{"id":"402676a6.2b83c8","type":"ui_group","z":"","name":"TEMPERATURE","tab":"4aedd8c.8c5d728","order":1,"disp":true,"width":"5","collapse":false},{"id":"7d305ed8.29e7e","type":"ibmiot","z":"","name":"NEW API1","keepalive":"60","serverName":"6863y6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4aedd8c.8c5d728","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]